[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[packages]
scipy = "*"
numpy = "*"
matplotlib = "*"
opencv-python = "*"
"pyqt5" = "*"

[requires]
python_version = "3.5"
